body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    /* background-color: #333; */
    color: #fff;
}

.logo {
    font-size: 24px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: 0.3s;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.toggle-btn {
    display: none;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }

    .toggle-btn {
        display: block;
    }

    #sidebar {
        left: -250px;
    }
}
.homes {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
    background: url(Baground_BSN.jpg);
    background-size: cover;
    padding-top: 10px;
}